.booking-modal__sports-list {
  position: absolute;

  .booking-modal__sports-list-button {
    padding-left: 5rem;

    @include mobile() {
      width: 100%;
    }

    @include tablet() {
      width: 100%;
    }
  }

  .booking-modal__sports-list-dropdown {
    position: relative;
    display: block;

    .booking-modal__sports-list-dropdown-hex {
      @extend .color-light-blue;

      cursor: pointer;
      font-size: 5rem;
      position: relative;
      left: -2.2rem;
      top: -1.8rem;
      z-index: 4;
    }

    .booking-modal__sports-list-dropdown-logo {
      @extend .color-primary-brand;

      font-size: 0.8rem;
      position: relative;
      left: -6rem;
      top: -3.575rem;
      z-index: 5;
    }

    .booking-modal__sports-list-dropdown-arrow {
      @extend .color-primary-brand;

      font-size: .3125rem;
      position: relative;
      left: -7.8rem;
      top: -2.3rem;
      z-index: 5;
    }
  }

  .booking-modal__sports-list-dropdown-menu {
    display: inline-block;
    width: 4.5rem;
    position: absolute;
    left: -2.1rem;
    top: -0.875rem;
    padding-top: 2.5rem;
    z-index: 3;

    > div {
      @extend .color-bg-dark-blue;
      @extend .t3;
      @extend .full-width;
      @extend .text-center;

      cursor: pointer;
      padding: 1.25rem 0;

      &:hover {
        @extend .color-bg-highlight-dark-blue;
      }
    }

    .booking-modal__sports-list-dropdown-end {
      @extend .color-dark-blue;

      font-size: 4.875rem;
      position: relative;
      top: -2.875rem;
      z-index: -1;
    }
  }
}
