.home-header {
  background-color: #424049;
  background-image: url('../../../assets/images/home-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
