.price-bubble {
  @extend .color-primary-brand;
  @extend .flex-row;
  @extend .flex-hc;
  @extend .flex-vc;

  width: 2.875rem;
  opacity: .99;

  &:before {
    @extend .color-primary-brand;
    content: $icon-hex;
    font-family: playven-icons, serif;
    font-size: 2.875rem;
    position: relative;
    z-index: 1;
  }

  .price-bubble__currency {
    @extend .color-white;
    @extend .t6;

    margin-right: 1px;
    position: relative;
    z-index: 2;
    top: -0.4rem;
    left: -2rem;
  }

  .price-bubble__amount {
    @extend .color-white;
    @extend .t5;
    @extend .em-high;
    position: relative;
    z-index: 2;
    left: -2.1rem;
  }
}

.active .price-bubble:before {
  @extend .color-white;
}

.active .price-bubble__currency,
.active .price-bubble__amount {
  @extend .color-primary-brand;
}
