.venue-view-bottom {

  .venue-view-bottom__map-container {
    @include gt-mobile {
      width: 26rem;
    }

    .venue-view-bottom__map {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;

      iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
    }
  }
}
