.modal-header {
  padding: 0;
  border-bottom: none;
}

.modal-content {
  background-color: inherit;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-body {
  @extend .color-bg-white;
  padding: 0;
}

.hex-modal {
  @extend .mtl;

  @include mobile {
    .modal-content {
      background-color: map_get($color-map, 'dark-blue');
      border-radius: 1rem;
    }
  }

  @include gt-mobile {
    .modal-content {
      position: relative;

      &:before {
        color: map_get($color-map, 'dark-blue');
        content: $icon-hex;
        font-family: playven-icons, serif;
        font-size: 40rem;
        position: absolute;
        top: 19.8rem;
      }
    }
  }

  .modal-content {
    @extend .flex-row;
    @extend .flex-hc;

    .modal-body {
      @extend .flex;
      @extend .flex-row;
      @extend .flex-vc;

      > div {
        @extend .flex;
      }

      background-color: transparent;
      height: 40rem;
      max-width: 37rem;
    }
  }

  .modal-close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    opacity: 0.6;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }
}

.hex-modal-light {
  @include mobile {
    .modal-content {
      background-color: map_get($color-map, 'light-blue');
    }
  }

  @include gt-mobile {
    .modal-content {
      position: relative;

      &:before {
        color: map_get($color-map, 'light-blue');
      }
    }
  }
}
