.select2-selection {
  @extend .text-uc;
  @extend .t4;
  @extend .color-dark-grey;

  border: none !important;
  height: 3rem !important;
  padding: 0rem 1rem;

  .select2-selection__arrow {
    top: .75rem !important;
  }

  .select2-selection__rendered {
    line-height: 3rem !important;

    .select-num {
      @extend .em-high;
      @extend .prt;
      @extend .color-primary-brand;
    }

    i {
      @extend .prs;
      @extend .color-primary-brand;

      font-size: 2.2rem;
      position: relative;
      top: .5rem;
    }
  }
}

.select2-dropdown {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  border: none;
  border-radius: .33rem;
}

.select2-results__options {
  @extend .text-uc;
  @extend .t4;
  @extend .color-dark-grey;
  @extend .mtt-desktop;

  max-height: 12.08rem !important;

  .select2-results__option {
    height: 3rem;
    line-height: 3rem;
    padding: 0rem 1.25rem;

    .select-num {
      @extend .em-high;
      @extend .prt;
      @extend .color-primary-brand;
    }

    i {
      @extend .prs;
      @extend .color-primary-brand;

      font-size: 1.75rem;
      position: relative;
      top: 0.375rem;
    }
  }

  .select2-results__option--highlighted[aria-selected],
  .select2-results__option--highlighted[aria-selected] i,
  .select2-results__option--highlighted[aria-selected] .select-num {
    background-color: map_get($color-map, 'primary-brand') !important;
    color: map_get($color-map, 'white') !important;
  }
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;

  &:after {
    @extend .color-lighter-grey;

    content: $icon-down-arrow;
    font-family: playven-icons, serif;
    position: absolute;
    top: -0.6rem;
    right: 0.45rem;
    font-size: 0.45rem;
  }
}

.time-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;

  &:after {
    @extend .t3;
    @extend .color-lighter-grey;

    content: $icon-clock;
    font-family: playven-icons, serif;
    position: absolute;
    top: -0.75rem;
    right: 0.2rem;
  }
}
