.thumbnail__current:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(14,125,255,0.75);
}

.owl-carousel .owl-stage-outer {
  overflow:visible;
}