$max-width: 73rem;

.max-width {
  width: 100%;

  @include desktop {
    width: 80%;
    margin: auto;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

@mixin common-layout-classes($breakpoint: '') {
  .full-height#{$breakpoint} {
    height: 100%;
  }

  .full-width#{$breakpoint} {
    width: 100%;
  }

  .hide#{$breakpoint} {
    display: none;
  }

  .text-center#{$breakpoint} {
    text-align: center;
  }

  .text-right#{$breakpoint} {
    text-align: right;
  }

  .pull-right#{$breakpoint} {
    float: right;
  }

  .flex#{$breakpoint} {
    flex: 1;
  }

  .flex-row#{$breakpoint} {
    display: flex;
    flex-direction: row;
  }

  .flex-col#{$breakpoint} {
    display: flex;
    flex-direction: column;
  }

  .flex-hs#{$breakpoint} {
    justify-content: flex-start;
  }

  .flex-he#{$breakpoint} {
    justify-content: flex-end;
  }

  .flex-hc#{$breakpoint} {
    justify-content: center;
  }

  .flex-hb#{$breakpoint} {
    justify-content: space-between;
  }

  .flex-ha#{$breakpoint} {
    justify-content: space-around;
  }

  .flex-vt#{$breakpoint} {
    align-items: flex-start;
  }

  .flex-vb#{$breakpoint} {
    align-items: flex-end;
  }

  .flex-vc#{$breakpoint} {
    align-items: center;
  }

  .flex-vs#{$breakpoint} {
    align-items: stretch;
  }
}

@include common-layout-classes;
@include mobile {
  @include common-layout-classes('-mobile');
}

@include tablet {
  @include common-layout-classes('-tablet');
}

@include desktop {
  @include common-layout-classes('-desktop');
}

@include gt-mobile {
  @include common-layout-classes('-gt-mobile');
}

@include lt-desktop {
  @include common-layout-classes('-lt-desktop');
}
